<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="hopur2.BusMobile" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".BusMobile" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity class=".LeidarTafla" android:name="LeidarTafla">
			<intent-filter>
				<action android:name="hopur2.BusMobile.WIEW_LeidarTafla" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity class=".FindBusStops" android:name="FindBusStops">
			<intent-filter>
				<action android:name="hopur2.BusMobile.FindBusStop.View" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
				<activity class=".GuideResults" android:name="GuideResults">
			<intent-filter>
				<action android:name="hopur2.BusMobile.WebGuideParser.View" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity class=".RoutesMenu" android:name="RoutesMenu"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="hopur2.RoutesMenu.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
				<activity class=".GuideUI" android:name="GuideUI">
			<intent-filter>
				<action android:name="hopur2.GuideUI.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>

		
				<activity class=".LandmarkMenu" android:name="LandmarkMenu">
			<intent-filter>
				<action android:name="hopur2.LandmarkMenu.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
		
		<activity class=".ColoredRoutes" android:name="ColoredRoutes">
			<intent-filter>
				<action android:name="hopur2.ColoredRoutes.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
		<activity class=".MapMenu" android:name="MapMenu">
			<intent-filter>
				<action android:name="hopur2.MapMenu.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
		<activity class=".MapDisplay" android:name="MapDisplay">
			<intent-filter>
				<action android:name="hopur2.MapDisplay.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
		<activity class=".Bidstod" android:name="Bidstod">
			<intent-filter>
				<action android:name="hopur2.Bidstod.View">
					<category android:name="android.intent.category.DEFAULT" />
				</action>
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest> 
